<h2>
  {{title}}
</h2>

<form>
  <div>
    <label >Weapon Configuration Name</label>
    <input type="text" placeholder="Weapon Configuration Name" #weaponName (keyup)="0" required>
  </div>

  <div>
    <label for="weaponType">Weapon Type</label>
    <select  #weaponType id="weaponType" required="required" (change)="0">
      <option value=""></option>
      <option value="m16">M-16</option>
      <option value="ak47">AK-47</option>
    </select>
  </div>

  <div>
    <label for="weaponOptics">Weapon Optics</label>
    <select #weaponOptics id="weaponOptics" (change)="0" required="required" >
      <option value=""></option>
      <option value="red-dot-scope">Red Dot Scope</option>
      <option value="acog-scope">Acog Scope</option>
    </select>
  </div>

  <div>
    <label for="weaponAmmunition">Example select</label>
    <select #weaponAmmunition id="weaponAmmunition" (change)="0" required="required" >
      <option value=""></option>
      <option value="30-round-magazine">30 Round Magazine</option>
      <option value="50-round-magazine">50 Round Magazine</option>
    </select>
  </div>

  <button type="submit" (click)="open(weaponName.value,weaponType.value,weaponOptics.value,weaponAmmunition.value)">Submit</button>

</form>


<section>
  <h2>{{weaponName.value}}</h2>
  <article class="grid-container">
      <div *ngIf="weaponType.value">
        <h2>{{weaponType.value | uppercase}}</h2>
        <img class="img-responsive" src="../assets/images/weapon/type/{{weaponType.value}}.jpg" />
      </div>
      <div *ngIf="weaponOptics.value">
        <h2>{{weaponOptics.value | uppercase}}</h2>
        <img class="img-responsive" src="../assets/images/weapon/optics/{{weaponOptics.value}}.jpg" />
      </div>
      <div *ngIf="weaponAmmunition.value">
        <h2>{{weaponAmmunition.value | uppercase}}</h2>
        <img class="img-responsive" src="../assets/images/weapon/ammunition/{{weaponAmmunition.value}}.jpg" />
      </div>
  </article>
</section>


